{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "auto"
}
