@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/*
		https://tailwindcss.com/docs/customizing-colors
	*/
	--primary: #262626; /* neutral-800 */
	--secondary: #171717; /* neutral-900 */
	--tertiary: #404040; /* neutral-700 */
	--color: #f3f3f3;
	--accent-primary: #2563eb; /* blue-600 */
	--accent-primary-state: #1e40af; /* blue-800 */
}
